@page "/Editor"
@using GNations.Models
@using System.Text
@using GNations.Resources.Enums
@using GNations.Resources.Helpers


<div class="menu-nav menu-nav-up">
    <button @onclick="DisplayAddMenu" type="button" class="btn-nav-default">Add</button>
    <button @onclick="ClearAdd" type="button" class="btn-nav-default">Clear selection</button>
    <button type="button" class="btn-nav-default">Save</button>
</div>



<div @onclick="EditorClickHandler" class="editor-container" id="editor">
    @_promptMessage
    <Continent @ref="ContinentComponent" Continents="@MapState.Continents"/>
</div>

<DropdownSelector @ref="dropdownSelector" OnDropdownSelection="SelectDropdownItem" @bind-SelectionId="_dropdownSelectionId" @bind-SelectionName="_dropdownSelectionName"/>

@code {
    public List<ContinentDisplayModel> Continents { get; set; } = new List<ContinentDisplayModel>();
    public List<DropdownSelectorModel> AddOptions { get; set; } = new List<DropdownSelectorModel>();

    public MapStateModel MapState { get; set; } = new MapStateModel();
    public EditorImagesModel ImagesModel { get; set; } = new EditorImagesModel();
    public EditorAddModel? AddModel { get; set; } = null;

    private string? mousePointerMessage = "init";
    private string? _promptMessage = "init";
    string _dropdownSelectionName = string.Empty;

    List<string> _continentImages = new List<string>();

    int _continentCounter = 0;
    int _dropdownSelectionId = 0;

    protected Continent? ContinentComponent;
    protected DropdownSelector? dropdownSelector;

    protected override void OnInitialized()
    {
        LoadContinents();
        LoadMenuOptions();

    }

    public void LoadMenuOptions()
    {
        AddOptions = EditorManager.GetAddOptions();
    }

    public void LoadContinents()
    {
        ImagesModel.ContinentImages = ImageRepository.GetContinentImages();
    }

    private void DisplayAddMenu()
    {
        dropdownSelector.InvokeDropdown(AddOptions);
    }

    private void EditorClickHandler(MouseEventArgs e)
    {
        if(AddModel != null)
        {
            EditorManager.AddItem(AddModel, MapState, ImagesModel, (int)e.OffsetX, (int)e.OffsetY );
            var selectEnum = (EditorDropdownEnum)AddModel.Selection;

            _promptMessage = AddModel.PromptMessage;

            switch (selectEnum)
            {
                case EditorDropdownEnum.AddContinent:
                    ContinentComponent.RefreshGrid();
                    break;
                case EditorDropdownEnum.AddHarbor:
                    //TODO
                    break;
                case EditorDropdownEnum.AddWaypoint:
                    //TODO
                    break;
                case EditorDropdownEnum.AddIsland:
                    //TODO
                    break;
            }
        }
    }

    private void ClearAdd()
    {
        _promptMessage = $"Selection cleared";
        AddModel = null;
    }

    private void SelectDropdownItem(Tuple<int, string?> args)
    {
        dropdownSelector.RevokeDropdown();
        _promptMessage = $"Selection: {args.Item2}";
        AddModel = EditorDropdownHelper.ResolveAddDropdownSelection(args);
    }

}
