@page "/Editor"


<div class="menu-nav menu-nav-up">
    <button type="button" class="btn-nav-default">Add</button>
</div>

<div @onclick="ReportPointerLocation" class="editor-container" id="editor">
    @mousePointerMessage
</div>

@code {

    private string? mousePointerMessage;

    private void ReportPointerLocation(MouseEventArgs e)
    {
        mousePointerMessage = $"Mouse coordinates: {e.OffsetX}:{e.OffsetY}";
    }

}
