@page "/Editor"


<div class="menu-nav menu-nav-up">
    <button type="button" class="btn-nav-default">Add</button>
</div>

<div class="editor-container" id="editor" onclick="Test()">
    k
</div>

@code {

}
