@using GNations.Models
@if(Continents != null)
{
    foreach(var item in Continents)
    {
        if (!string.IsNullOrEmpty(item.SvgMarkup))
        {
            <div @onclick="@(e => ContinentClickEvent(e, item.EnumNo))" class="continent" style="@item.StyleAttribute">
                @((MarkupString)@item.SvgMarkup)
            </div>
        }
    }
}



@code {
    [Parameter]
    public List<ContinentDisplayModel>? Continents { get; set; }

    public void Refresh()
    {
        StateHasChanged();
    }

    public void ContinentClickEvent(MouseEventArgs args, int id)
    {
        StateHasChanged();
    }
}
