@using GNations.Models
@if(Continent != null)
{
    if (!string.IsNullOrEmpty(Continent.SvgMarkup))
    {
        <div class="continent" style="@Continent.StyleAttribute">
                @((MarkupString)@Continent.SvgMarkup)
        </div>
    }
}

@if(EditorModel != null && EditorModel.AddHarbor != null)
{
    if (!string.IsNullOrEmpty(EditorModel.AddHarbor.SvgMarkup))
    {
        <div class="continent" style="@EditorModel.AddHarbor.StyleAttribute">
                @((MarkupString)@EditorModel.AddHarbor.SvgMarkup)
        </div>
    }
}


@code {
    [Parameter]
    public ContinentDisplayModel? Continent { get; set; }

    [Parameter]
    public EditorAddModel EditorModel { get; set; } = new EditorAddModel();

    public void RefreshGrid()
    {
        StateHasChanged();
    }
}
