<div class="editor-tree-menu">
    <div class="menu-header">
        Header and options here
    </div>
    <div class="tree-item">
        <button type="button">downArrow</button>
        Menu item here
        <div class="tree-subitem">
            Subitem here
        </div>
    </div>
</div>
@code {
    private string downArrow = "&#5121";
}
