@using GNations.Models
@if(Continent != null)
{
    if (!string.IsNullOrEmpty(Continent.SvgMarkup))
    {
        <div class="continent" style="@Continent.StyleAttribute">
                @((MarkupString)@Continent.SvgMarkup)
        </div>
    }
}


@code {
    [Parameter]
    public ContinentDisplayModel? Continent { get; set; }

    public void ContinentClicked()
    {
        var x = 1;
    }

    public void RefreshGrid()
    {
        StateHasChanged();
    }
}
