@using GNations.Dto
@using GNations.Resources.Images

<div class="game-container">

    <div class="menu-nav menu-nav-up">
         <button type="button" class="btn-nav-default">Menu 1</button>
         <button type="button" class="btn-nav-default">Menu 2</button>
         <button type="button" class="btn-nav-default">Menu 3</button>
         <button type="button" class="btn-nav-default">Menu 4</button>
    </div>

    <div class="map-container">


        @foreach(var item in _continents)
        {
            if(!string.IsNullOrEmpty(item.SvgMarkup))
            {
                <div class="continent @item.StyleClas">
        
                    @((MarkupString)item.SvgMarkup)
        
                </div>
            }
        }

    </div>

        <div class="menu-nav menu-nav-up">
         <button type="button" class="btn-nav-default">Menu 1</button>
         <button type="button" class="btn-nav-default">Menu 2</button>
         <button type="button" class="btn-nav-default">Menu 3</button>
         <button type="button" class="btn-nav-default">Menu 4</button>
    </div>
</div>


@code {

    MapManager _mapManager = new MapManager();
    string _continentCss => $"";
    string markup = string.Empty;
    List<ContinentImageDto> _continents = new List<ContinentImageDto>();

    [JSInvokable]
    public static void HandleMapClick(int param)
    {
        var x = 1;
    }

    protected override void OnInitialized()
    {
        LoadContinents();
        //_mapManager.BreakMe();

    }

    public void LoadContinents()
    {
        _continents = ImageRepository.GetContinents().ToList();
        var x = 1;
    }
}
